################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleLib/DesignTimeBuild
/.vs/ConsoleLib/v16/Server/sqlite3
/.vs/ConsoleLib/v16/.suo
